<header class="flex  text-white justify-center h-16 items-center w-full fixed top-0 left-0">
    <ul class="flex bg-[#222222] gap-6 px-6 py-2 rounded-4xl">
        <a  href="/">Home</a>
        <a href="#timeline">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </ul>
</header>
