---
import astroLogo from '../assets/astro.svg';
import me from '../assets/me-profile.jpg';
---

<section class="grid grid-cols-2 w-full h-screen gap-8">
    <div class="flex flex-col justify-center items-start gap-6">
        <p class="text-blue-600 text-m">Disponible para trabajar</p>
        <h1 class="text-white text-5xl font-bold">Welcome to My Portfolio</h1>
        <p class="text-gray-300 text-lg">
            Discover my projects, skills, and experience in web development.
        </p>
        <div class="flex gap-4">

            <a
            href="/projects"
            class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition"
            >View Projects</a
            >
            <a
            href="/projects"
            class="px-6 py-3 rounded-lg transition bg-white text-blue-600 hover:shadow-white"
            >Portfolio</a
            >
        </div>
    </div>
    <div class="flex justify-center items-center">
        <img src={me.src} alt="Profile Image" class="w-60 h-auto " />
    </div>
</section>
